<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<style>
    table {
        width: 22%; /*ширина таблицы*/
        background: tan; /* цвет фона таблицы*/
        color: black; /*цвет текста*/
        border-spacing: 1px; /*расстояние между ячейками*/
    }

    td, th {
        background: tan;
        padding: 5px;
    }
</style>
<body>
<h1>User, welcome spring boot security page!</h1>
<br/>
<br/>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Роль</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}">value</td>
            <td th:text="${user.getName()}">value</td>
            <td th:text="${user.getSurname()}">value</td>
            <td th:text="${user.getAge()}">value</td>
            <td>
                <table>
                    <tr th:each="role:${user.getRoles()}">
                        <td th:text="${role.getRole()}"></td>
                        <td th:value="${role.getId()}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<br/>
<hr/>
<br>
<br>
<form action="/logout">
    <button>Выйти</button>
</form>


</body>
</html>